RewriteEngine On
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/
RewriteCond %{HTTP_HOST} !^dinar\.moscow(?::443)?$ [NC]
RewriteCond %{THE_REQUEST} \s(/[^?\s]*)[?\s]
RewriteRule ^ https://dinar.moscow%1 [R=301,L,NE]
